<mat-toolbar color="primary">
  <button mat-icon-button
          (click)="sidebarCollapsed.set(!sidebarCollapsed())"
          class="example-icon"
          aria-label="Menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button routerLink="/">OMR Scanner</button>

  <span class="spacer"></span>

  <button mat-icon-button matTooltip="Like">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Share">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Notifications">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>My Account</span>
    </button>
    <button mat-menu-item routerLink="settings">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item>
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </mat-menu>
  <mat-slide-toggle class="icon-slide-toggle" matTooltip="Theme" (click)="changeTheme()"></mat-slide-toggle>
</mat-toolbar>
