<mat-drawer-container>
  <mat-drawer [autoFocus]="false" mode="side"
              [opened]="sidebarCollapsed()">
    <mat-nav-list>
      @for (item of sidebarItems(); track item){
        <a mat-list-item
           [routerLink]="item.route"
           routerLinkActive
           [routerLinkActiveOptions]="{exact: true}"
           #rla="routerLinkActive"
           [activated]="rla.isActive">
          <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
          <span matListItemTitle>{{item.title}}</span>
        </a>
      }
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="content-wrapper">
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
